<!--Uncomment this to customize the navigation manually-->
<!--<div class="taglist-wrapper clearfix">-->
  <!--<ul id="taglist" class="taglist">-->
    <!--<li><a href="{{@blog.url}}">Home</a></li>-->
    <!--<li><a href="/tag/javascript">javascript</a></li>-->
    <!--<li><a href="/tag/nodejs">nodejs</a></li>-->
    <!--<li><a href="/tag/data-visualization">data visualization</a></li>-->
    <!--<li><a href="/tag/d3">d3</a></li>-->
    <!--<li><a href="/tag/maps">maps</a></li>-->
  <!--</ul>-->
<!--</div>-->

<!--This is for default navigation-->
<ul id="taglist" class="taglist">
  {{#foreach navigation}}
    <li><a href="{{url}}">{{label}}</a></li>
  {{/foreach}}
</ul>